<form class="Exercises__search" id="exercises-search">
  <input
    class="Exercises__input"
    type="text"
    name="keyword"
    placeholder="Search exercises"
    autocomplete="off"
  />
</form>

<section class="Exercises is-hidden" id="exercises-section">
  <div class="container">
    <h2 class="Exercises__title" id="exercises-title"></h2>

    <ul class="Exercises__list" id="exercises-list">
    </ul>

    <div class="Exercises__pagination" id="exercises-pagination">
    </div>
  </div>
</section>
