<section class="Hero">
  <div class="Hero__container container">
    <div class="Hero__content">
      <ul class="Hero__tags">
        <li>#Sport</li>
        <li>#Healthy</li>
        <li>#Workout</li>
        <li>#Diet</li>
      </ul>

      <h1 class="Hero__title">
        Get Body in shape, <br />
        Stay healthy
      </h1>

      <p class="Hero__text">
        Transform your physique and embrace a healthier lifestyle with
        our comprehensive fitness and nutrition support.
      </p>
    </div>

    <div class="Hero__image">
      <img
        src="../images/hero/hero.jpg"
        srcset="./images/hero/hero.jpg 1x, ./images/hero/hero@2x.jpg 2x"
        alt="Fitness training"
      >
    </div>
  </div>
</section>