.Home__layout {
  display: grid;
  gap: 80px;
  margin-top: 120px;
}

@media (min-width: 1024px) {
  .Home__layout {
    grid-template-columns: 360px 1fr;
    align-items: start;
  }
}

body {
  background: #f6f6f6;
}
