.header {
  padding: 24px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  font-size: 20px;
}

.header__menu {
  display: flex;
  gap: 24px;
}

.header__link {
  padding: 8px 16px;
  border-radius: 999px;
  transition: 0.3s;
}

.header__link--active,
.header__link:hover {
  background: #242424;
  color: #fff;
}

.header__socials {
  display: flex;
  gap: 12px;
}